@model EKART.Models.Order

@if (Model != null)
{
    <div>
        
        <h3>Order Details</h3>
        <p><strong>Order Id:</strong> @Model.OrderId</p>
        <p><strong>Customer Id:</strong> @Model.CustomerId</p>
        <p><strong>Order Date:</strong> @Model.OrderDate</p>
        <p><strong>Total Amount:</strong> @Model.TotalAmount</p>

       
        <h3>Bill Details</h3>
        <p><strong>Bill Amount:</strong> @ViewBag.BillAmount</p>
    </div>
}
else
{
    <p>Error: Unable to retrieve order details.</p>
}

